$primary: #F99969;
$secondary: #5959BD;
$dark: #111727;
$light: #EFEDEB;



$dark-light10: #292e3d;
$dark-light20: #414552;
$dark-light30: #585d68;
$dark-light40: #70747d;

$secondary-dark10: #5050aa;

$primary-dark10: #e08a5f;
$primary-dark20: #c77a54;